
<h1  class="dialoghead1">ANT CONTROL</h1>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-6 col-sm-12 col-xs-12"> 

    <img src="assets/images/Ant1.jpg" alt="Ant Control" class="imgscale">

  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 imgheaderAnt">
    <h2><p>With their potential to bite, sting and contaminate food, ants are more than just a nuisance. Ants can contaminate and cause food poison. Their bite, though harmless, can be itchy and causes discomfort They can seriously jeopardize your business; compromising the safety and satisfaction of customers and guests, and potentially causing costly damage to your structures and properties.</p></h2>

    
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">

    <h1 class="pestprof"><b>Ants control program includes:</b></h1><br>
        <h2><p> JV Care’s comprehensive treatments to fit your needs. From inspection to detect where ants and crawling insects are entering your facility to targeted treatments and a follow-up outline of corrective measures, </p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Perimeter inspection to determine ant type and nest locations.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Targeted bait applications in high activity areas.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Liquid and granular perimeter treatments that provide fast knockdown and create a long-lasting barrier against ants and other crawling insects.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Outline of corrective measures to prevent future infestations.</p></h2>



        <h1 class="pestprof"><b>ANT FACTS:</b></h1><br>
        
        <h2><p> &#8857;&nbsp;&nbsp;The total weight of all the ants in the world is the same as, if not larger than, that of all humans. </p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Ants don’t have ears. They “hear” by feeling vibrations in the ground through their feet. Most ants have very poor eyesight, but some have no eyes at all. These species have developed such advanced communication through their antennae that they have no need for eyes.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Foraging worker ants can travel up to 200 metres from their nest and find their way back to the colony by following scent trails left by others.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Ants belong to the insect order Hymenoptera. They are close relatives of bees and wasps.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Each colony can hold up to half a million ants. They can all get up and go very quickly if the colony is threatened.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Worker ants can live for up to 7 years, while a queen can live for up to 15 years.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;The queen holds the highest rank in an ant colony—there is no king. Some ant species have more than one queen per colony, but there is a limited number, so if the queen(s) dies, the colony dies, because no new workers will be produced. Once the last of the existing workers reaches its three- to four-month life span and dies, the colony will go defunct. </p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;The queen does not search out food, ever leave the nest, or even feed herself. Rather, she is fed by the workers who are all sterile females. As a colony grows, it will eventually produce winged male and female ants, which swarm from the nest to mate. After mating, the male will die and the female will seek a new nesting site—to start the process over again.</p></h2>



         <h1 class="pestprof"><b>Ants Prevention Tips:</b></h1><br>
        
        <h2><p> &#8857;&nbsp;&nbsp;Clean up - food and liquid spillages immediately. </p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Sweep up - any food crumbs from under your kitchen appliances and units. </p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Store your food - in airtight containers wherever possible.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Block off - the entry points for ants by sealing all cracks and crevices around your doors and window frames.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;In the garden - keep your compost enclosed and make sure all rubbish bins have tightly sealed lids.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;Cover all food - you don’t know where ants have been walking before they march across your food.</p></h2>
        <h2><p> &#8857;&nbsp;&nbsp;If you have a pet - clear away any food that isn’t eaten straight away.</p></h2>

    
  </div>
  	
</div>
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()">Back</button>
</div>