
<h1  class="dialoghead1">BED BUG CONTROL</h1>

<div class="col-md-12 col-xs-12 col-sm-12">
  	<div class="col-md-6 col-sm-12 col-xs-12">
  		<img src="assets/images/bedbugs-on-a-bed-sheet-roger-eritja.jpg" alt="BedBug" class="imgscale">
  	</div>
  	<div class="col-md-6 col-xs-12 col-sm-12 imgheader">
  		<h2><p>People with a bed bug infestation in their homes are stressed, anxious, and they have difficulty sleeping at night, Bed bugs can be the most annoying of creatures as they’re extremely tiny and difficult to spot. What’s worse is that while they don’t spread diseases in humans, they can create a massive nuisance due to bites at night. Bed bug bites are usually in patterns like a line, circle or within a certain area of your body, since they’re small and travel slowly. Bed bugs control is of utmost importance as the longer we wait, the more problematic it could become.</p></h2>
  		<h2><p>Bed bugs are found in cracks and crevices, including mattress seams, sheets, furniture, behind baseboards, electrical outlet plates and picture frames. Often found in hotels, where they can travel from room to room and in visitors’ luggage or other personal belongings such as purses and briefcases.</p></h2>
  		<h2><p>Bed bugs are flat, reddish-brown, oval insects up to 4 to 5 mm long or the size of an apple seed. They are normally swollen and reddish after a blood meal.</p></h2>
  	</div>
  	<div class="col-md-12 col-xs-12 col-sm-12">

  		  <h1 class="pestprof"><b>JV Care's Bed Bugs Control Program includes:</b></h1><br>
  		  <h2><p> &#8857;&nbsp;&nbsp;JV care has designed to kill bed bugs at all life stages, helping to minimize their impact on guest and resident safety and satisfaction.</p></h2>
  		  <h1><b>Our Bed Bug 2-visit Service Overview:</b></h1><br>
  		  <h2><p> &#8857;&nbsp;&nbsp;Initial Service: Inspection/Treatment.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Two-Week Follow-Up Service: Inspection/Treatment.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;We use safe and approved chemical.</p></h2>


  		  <h1 class="pestprof"><b>BED BUGS FACTS:</b></h1><br>
  		  <h2><p> &#8857;&nbsp;&nbsp;Female bed bugs can lay over 500 eggs in a lifetime!</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Bed Bug Bites Are not Dangerous.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Bed bugs can ingest seven times their own body weight in blood.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;They are a light tan color, but turn dark-reddish brown once they have fed on blood. They can survive for several months between blood meals. </p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;The adult bed bug is about 5-7mm (1/4 inch) long and flattened. Once engorged with blood, it swells in size. </p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Bed bugs can easily be seen with the naked eye, but typically stay hidden in the day.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;They can be found in hotel rooms any time of year, and will often go unnoticed until the population size is large.</p></h2>



  		  <h1 class="pestprof"><b>BED BUGS PREVENTION TIPS:</b></h1><br>
  		  <h2><p> &#8857;&nbsp;&nbsp;Check your bed sheets for blood spots.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Never bring second-hand furniture, especially mattresses and box springs, into a home without thoroughly examining for signs of a bed bug infestation. You might consider having a pest control professional inspect the furniture as it is difficult to detect an infestation without training.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Regularly inspect areas where pets sleep for signs of bed bugs.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Keep your suitcases covered in plastic and off the floor when you travel. </p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;When you travel, take a small flashlight to help you look for bed bugs. </p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;When you return from a trip, wash all of your clothes - even those that have not been worn - in hot water to ensure that any bed bugs that may have made it that far are not placed into your drawers/closet.</p></h2>
  		  <h2><p> &#8857;&nbsp;&nbsp;Bed bugs are hard to see, so if you think you have bed bugs, call a JV Care pest control expert.</p></h2>


  		
  	</div>
</div>
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>