<h1  class="dialoghead1">COMMERCIAL SERVICE </h1>

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
	<div class="col-md-6 col-xs-12 col-sm-12">
		<img class="imgscale" src="/assets/images/cockroach.jpg" alt="COMMERCIAL COCKROACH ELIMINATION">
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12 imgheader">
		<h2><p>JV Care’s Pest Control provide a service for Commercial buildings and Facilities to provides protection against the pests that negatively impact employees, visitors and your company’s image.</p></h2>
		<h2><p>We deliver a comprehensive service to eliminate the most common pests you deal with: Rodent, cockroaches, ants, mosquitoes, flies and disinfestation service. We provide a proactive approach to preventing pest issues from becoming problems and help you provide a positive working experience for your employees When you partner with JV care pest control experts, you can be confident you are getting innovative, scientific-based solutions to keep your customers and staff safe and your facility pest-free work environment.</p></h2>

</div>
</div>


<div class="col-md-12 col-sm-12 col-xs-12 contclass">

<h2><p>We deliver a comprehensive service to eliminate the most common pests you deal with: Rodent, cockroaches, ants, mosquitoes, flies and disinfestation service. We provide a proactive approach to preventing pest issues from becoming problems and help you provide a positive working experience for your employees.</p></h2>
<h2><p>When you partner with JV care pest control experts, you can be confident you are getting innovative, scientific-based solutions to keep your customers and staff safe and your facility pest-free work environment.</p></h2>
  </div>	
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>