.footer-css{
	
	background-color: #5baf97;
	width: -webkit-fill-available;
}


.mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnalgn{
	float: right;
    margin-right: -274px;
    margin-top: 29px;
    border: 1px solid #b7878b;
    box-shadow: 0px 1px 11px;
    background-color: white;
}
marquee{
      font-size: 30px;
      font-weight: 800;
      color: white;
      font-family: sans-serif;
      }

.dialoghead1{
    text-align: center;
    font-weight: bolder;
    color: #0a58a4;
    box-shadow: 2px 0px 9px 0;
    margin-top: 48px;
    padding: 8px;
    width: 91%;
    margin-left: 56px;
    margin-bottom: 65px;
}

#bot{
  margin-left: 560px;
}
.imgscale{
    width: 75%;
    border: 1px solid #0a58a4;
    box-shadow: 0px 1px 15px 0px;
    margin-left: 28px;
}
.pestprof{
  margin-top: 27px;
  color: #0a58a4;
}
.imgheader{
  margin-left: -70px;
}
.imgheaderAnt{
    margin-left: -70px;
    margin-top: 56px;
}
.contclass{
  margin-top: 50px;
}

#mySidenavForSideBtn a {
  position: absolute;
  left: -12px;
  padding: 15px;
  width: 103px;
  font-size: 15px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}



#projects {
  top: 140px;
  background-color: #555;
  cursor:pointer;
  animation-timing-function: ease-out;
}
#projects{
  width: 100px;
  height: 50px;
  background-color: rgba(255,255,255,.15);
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

.container{
  overflow:visible;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.frmcolr {
  border-radius: 15px 15px 15px 15px;
  padding: 25px;
  text-align: center;
  background-color: hsla(0, 2%, 2%, 0.5);
  width: 500px;
}

#carousel-img {
  height: 100vh;
  width: 100%;
}

.txtclr{
  color: white;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.changeModal{
  text-align: center;
  background: #5baf97;;
}

.moadlMargin{
  margin-top: 270px;
}






