 <div class="col-md-12 col-sm-12 col-xs-12 giff" > 
 	<button type="button" class="close" (click) = "onNoClick()">&times;</button>
  		<form class="formPage" *ngIf="hideLogin && !createAcc">
  	<mat-form-field class="matFormField">
    <mat-label>UserName</mat-label>
    <input matInput placeholder="Enter Your Mobile Number">
  </mat-form-field>
  <br>
  
  <mat-form-field class="matFormField">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}     </mat-icon>
</button>
  </mat-form-field>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
  
    <button mat-raised-button class="matFormField1"><b>Login</b></button>

</div>
<div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center;">
<b>OR</b>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 ">
	<button mat-raised-button class="matFormField1" (click) = "createAccount()"><b>Create Acount</b></button>
</div>

</form>
<form class="formPage" *ngIf="!hideLogin && createAcc" [formGroup] = "accountOpening" (ngSubmit) = "accCreationSubmission()">
  	<mat-form-field class="matFormField">
    <mat-label>UserName</mat-label>
    <input matInput placeholder="Enter Your Mobile Number"     formControlName = "userName">
  </mat-form-field>
  <br>
  <mat-form-field class="matFormField" *ngIf="otpVerified">
    <mat-label>OTP</mat-label>
    <input matInput placeholder="Enter Your OTP" formControlName = "otp">
  </mat-form-field>
  <mat-form-field class="matFormField">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Create Your Password" formControlName = "password" [type]="hide ? 'password' : 'text'">
     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
</button>
  </mat-form-field>
  
  <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="!messageForAcc">
    <button mat-raised-button  class="matFormField1" type="submit"><b>Create Account</b></button>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="messageForAcc" style="color: red;">{{messageForAcc}}&nbsp;Click <b style="color: blue;cursor: pointer;"><u>Login</u></b> to continue</div>
</form>
</div>

<style type="text/css">
	/*.giff{
		  background-image: url('/assets/images/giphy.gif');
		  

	}*/

	.matFormField{
		width : 96%;
	}
	.matFormField1{
		width: 96%;
		background-color: rgba(0,0,0,.12);
	}

</style>
