
<h1  class="dialoghead1">COMMERCIAL MOSQUITO ELIMINATION</h1>

<div class="col-md-12 col-sm-12 col-xs-12">

	<div class="col-md-6 col-sm-12 col-xs-12">

		<img src="assets/images/aedes-aegypti-joao-paulo-burini.jpg" alt="Moisquito Elimination" class="imgscale">
		
	</div>

	<div class="col-md-6 col-sm-12 col-xs-12 imgheaderAnt">

		<h2><p>Mosquito bites are a real source of nuisance, leaving itching bite marks and keeping us awake at night. They are also an increasing risk to public health as mosquitoes can transmit diseases such as Zika virus, Dengue, yellow fever, malaria and others. Partner with JV Care to eliminate mosquito breeding sites to proactively reduce the risk of bites.</p></h2>
		
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		<h1 class="pestprof"><b>JV Care's Mosquito Elimination Program includes:</b></h1><br>
       
        <h2><p>&#9989;&nbsp;&nbsp; <b>INSPECT:</b> thorough site inspection for current or potential mosquito activity, breeding and harbourage sites.</p></h2>
        <h2><p> &#9989;&nbsp;&nbsp;<b>PREVENT:</b>  provide recommendations and target breeding sites with treatments that kill larvae and prevent mosquito larvae from ever developing.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  <b>PROTECT:</b>provide treatments to potential adult resting sites that help provide long lasting protection against mosquitoes</p></h2>

        <h2><p>Our Integrated Pest Management (IPM) approach addresses both the potential breeding sites and locations where mosquitoes rest. The process starts with a comprehensive site survey followed by staff training on steps you can take to eliminate potential breeding sites and JV Care will organise suitable treatment which includes: </p></h2>

        <h2><p>&#9989;&nbsp;&nbsp; Larvacide treatment in water stagnant and drains to kill mosquitos breeding source.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; IRS(Internal residual spraying) on wall surface area to control adult mosquitoes.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Water-based space-spray solution for the control of mosquitoes.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Ultra Low Volume fogging in external area where mosquitoes hides and this treatment will be very much effective during emergency situation.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;Vegetation treatment usually we do in Garden areas to adult mosquitoes.</p></h2>

        <h1><p>Our treatment effective against all the three types of mosquito i.e. Aedes, Anopheles and Culex </p></h1>

        <h1 class="pestprof"><b>MOSQUITOES FACTS:</b></h1><br>
       
        <h2><p>&#9989;&nbsp;&nbsp; Over one million human deaths per year are caused by mosquito bites, which make the mosquito the most deadly animal in the world. </p></h2>
        <h2><p> &#9989;&nbsp;&nbsp;Only female mosquitoes bite.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  Body heat marks the target. Mosquitoes use heat sensors around their mouthparts to detect the warmth of your body – actually, the blood inside it – then land on you and locate the best capillaries for tapping.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Mosquitoes feed day and night. Some species, like the Aedes are daytime biters, while others, like Culex, start biting at dusk and continue a few hours into dark. </p></h2>

        <h2><p> &#9989;&nbsp;&nbsp;Dengue viruses are spread to people through the bite of an infected Aedes species (Ae. aegypti or Ae. albopictus) mosquito. Dengue is common in more than 100 countries around the world. 40 percent of the world’s population, about 3 billion people, live in areas with a risk of dengue. Dengue is often a leading cause of illness in areas with risk.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  The earliest known mosquitoes existed 400 million years ago.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Female mosquitoes locate hosts by detecting emitted carbon dioxide, lactic acid, octenol and body heat. In fact, a mosquito can sense exhaled carbon dioxide from up to 75 feet away. </p></h2>

        <h2><p> &#9989;&nbsp;&nbsp;Before feeding on an animal's blood, a mosquito will inject her saliva into her host to release a chemical that acts as an anesthetic - so the animal is less likely to feel her on its skin.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  The wings of a mosquito beat between 300 and 500 times per second.</p></h2>



         <h1 class="pestprof"><b>Mosquitoes Prevention tips:</b></h1><br>
       
        <h2><p>&#9989;&nbsp;&nbsp; Ensure drains are kept clear and running by removing debris other leaves. </p></h2>
        <h2><p> &#9989;&nbsp;&nbsp;Pour out stagnant water from flower pots and planter.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  Remove water collecting in buckets and other materials.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Cover water butts with a lid.</p></h2>

        <h2><p> &#9989;&nbsp;&nbsp;Do not leave standing water.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  After dark, keep windows and doors closed or block out the light with curtains.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Fit adequate mosquito screens to windows-16*16 or 14*18. </p></h2>
        
        <h2><p> &#9989;&nbsp;&nbsp;The best solution is to prevent them from breeding around your home and to prevent them from entering your home.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  Inspect water in plant containers, water-holding sumps, keep grass mowed around bodies of water.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp; Focus on water management, to prevent mosquito breeding, is essential for mosquito control. Eggs do not hatch unless they are in water.</p></h2>
        <h2><p>&#9989;&nbsp;&nbsp;  Eliminate all moisture sites, including leaking pipes and clogged drains that provide the perfect breeding site for mosquito.</p></h2>
        
      
	</div>
  	
</div>
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>