
<h1  class="dialoghead1">PEST PROOFING SERVICE</h1>
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="col-md-6 col-xs-12 col-sm-12">
		<img class="imgscale" src="/assets/images/pestproof.jpg" alt="PEST PROOFING SERVICE">
	</div>
<div class="col-md-6 col-sm-12 col-xs-12 imgheader">
  	<h2><p>Pests can enter your facility through the smallest gaps and holes. And once they get in, they can hide and breed in tiny cracks and crevices you might not even be aware of. Give them half a chance and even just a few pests can quickly turn into an infestation, putting your business and your customers at risk.</p></h2>

   <h2><p>JV Care’s systematic approach seals off areas where pests are most likely to enter and reside in your facility — including cable & pipeline entry points, gaps and voids, and walls — providing an immediate, convenient, and highly effective solution to invading pests.
   Pest proofing is part of integrated pest management (IPM) which is a holistic approach towards pest risk management by utilizing proactive control methods and you can be confident you are maintaining a pest-free facility.</p></h2>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 contclass">
	<h2><p>JV Care’s holistic pest proofing service help you prevent all kinds of pests and you can be confident you are maintaining a pest-free facility.
   Pest proofing is part of integrated pest management (IPM) which is a holistic approach towards pest risk management by utilizing proactive control methods.</p></h2>
</div>

   
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>