<h1  class="dialoghead1">QSR SERVICE FOR RESTAURANTS</h1>
<div class="col-md-12 col-xs-12 col-sm-12">
	<div class="col-md-6 col-xs-12 col-sm-12">
		<img class="imgscale" src="/assets/images/qsr1.jpg" alt="QSR SERVICE FOR RESTAURANTS">
	</div>
<div class="col-md-6 col-sm-12 col-xs-12 imgheader">
  	<h2><p>We understand the importance of keeping pests out of your restaurant.Pests pose a major risk to food safety and can lead to poor health inspections and even a shutdown. Additionally, pest problems can quickly gain public attention and damage your reputation.</p></h2>

  	<h2><p> We're here to help. JV Care goes beyond pest control, putting our expertise to work every day to solve the industry's most complex pest challenges.</p></h2>

    

    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 ">


  <h2><p>We understand the unique challenges quick-service environments pose and how to help effectively manage them. We’ll start with a comprehensive, on-site inspection and design your pest management program to meet your exact needs.</p></h2>
  </div>

<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>



























