<h1  class="dialoghead1">RESIDENTIAL SERVICES</h1>

<div>
	<div class="col-md-6 col-xs-12 col-sm-12">
		<img class="imgscale" src="/assets/images/residence.jpg" alt="RESIDENTIAL SERVICES">
	</div>
<div class="col-md-6 col-sm-12 col-xs-12"><h2><p>JV care services will be taken care for your family and well-being. Our wide range of pest control treatments for residences give you peace of mind and protect you from pest-related illnesses.</p></h2>

<h2><p>JV Care Pest Control Specialist is equipped to manage your pest concerns with unique method to provide a holistic solution, created especially for your needs without empty out your kitchen and other materials.</p></h2>


<h2><p>If you want see differentiate in service, look no further. We provide the best Pest Control Services in your home. We use the best and approved chemicals for getting rid of pest problems.</p></h2>
<h2><p>JV care professional’s expert in eliminating the root cause of the problem thorough inspection of your property using top line equipment’s.</p></h2>

<h2><p>Our treatment will be long-lasting and a highly efficient which can be carried out at your convenient time Whether it is Cockroach, Bed bugs, Rodents, Ants, Lizards, Spiders, Mosquitoes or any other pests.</p></h2>

<h2><p>JV Care services completely odourless, hassle-free and safe solution for elders, kids, pets and persons.</p></h2>
</div>
</div>
<br/>
<div mat-dialog-actions class="wrapper">
  <button mat-fab (click)="goToHome()" >Back</button>
</div>